<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Create category</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Create category</h1>
    <div class="col-md-6 offset-3">
        <br>
    <th:block th:if="${message}">
        <div class="alert alert-success" role="alert" th:text="${message}">
        </div>
    </th:block>

    <form th:action="@{/team/create}" th:object="${team}" method="post" class="form">
        <table>
            <tr>
                <td>Team Name:</td>
                <td><input type="text" th:field="*{name}" class="form-group"/></td>
            </tr>
            <br>
            <tr>
                <td></td>
                <td>
                <div>
                    <input type="submit" value="Creat team " class="btn btn-primary">
                </div>
                </td>
            </tr>
            <br>
        </table>
    </form>
    </div>
</section>
</body>
</html>