<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Spring Blog</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-md-8">

            <div class="page-header">
                <h1>Các đội tham dự</h1>
            </div>
            <br>
            <div th:each="t : ${teams}" class="row post">
                <div class="col-md-12">
                    <a th:href="@{/player/__${t.id}__/view}"><h3 th:text="${t.name}"></h3></a>
                </div>
            </div>

        </div>
        <div class="col-md-4">

        </div>
    </div>
</section>
</body>
</html>